body {
    font-family: monospace;
    display: grid;   
    grid-template-rows: 1fr 14fr; 
    height: 100vh;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

#header {
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: 1px solid black;
}

#game-container {
    display: flex;
    gap: 10px;
}

#player-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    grid-template-rows: repeat(10, 1fr); 
}

#bot-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    grid-template-rows: repeat(10, 1fr); 
}

#init-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    grid-template-rows: repeat(10, 1fr); 
}

.ship-present {
    background-color: blue;
    border: none;
}

.ship-struck {
    background-color: red;

}

.nothing-struck {
    background-color: grey;

}

.hover {
    /* background-color: yellow; */
    border: none;

}

button {
    height: 50px;
    width: 50px;
    background-color: white;
}
